.main {
  background: #ffff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #f04c64;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarefas {
  margin-top: 30px;

}

 .tarefas li{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
 }

 .tarefas li .edit{
     margin-right: 15px;
     
 }

 .tarefas li .delete{
    margin-right: 15px;
    color: #f04c64
}

 
