@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
* {
   box-sizing: border-box;
   outline: 0; 
}

body{
    margin: 0;
    padding: 0;
    background: green;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em
}

.container{
    background: #fff;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px
}

form input, form label, form button {
    display: block;
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
}

form button {
    background: green;
    color: #fff;
    border: none;
    cursor: pointer;

}

form button:hover{
    background: greenyellow
}